@import './Vars.scss';
@import "./Media.scss";

body {
    margin: 0;
    font-family: $theme-font;
    background-image: linear-gradient(#8f57fd, #21c08b, #8f57fd);
  }
  
  * {
    box-sizing: border-box;
  }